/* Estilo global  */
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    font-size: 14px;
    color: var(--main-font-color);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background: var(--main-bg-color);
  }

  main {
    flex: 1;
    overflow-y: hidden; /* Desactiva el desplazamiento vertical en el elemento main */
  }

  /* Resto de tus estilos aquí */


html {
  --main-bg-color: #0e0e0e;
  --main-font-color: #b9b5b5;
  --main-highlight-color: #fff;
  --main-link-active-color: hsl(202, 90%, 43%);
  --main-link-border-bottom: green;
  --main-border-color: #8080804d;
  --activity-bg-color: #000;
  --footer-height: 100px;
  --main-bg-color-dark: #202020;
}

* {
  box-sizing: border-box;
}

h1, h2 {margin-left: 10px;}
img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}


/* Highlight Styles 
::selection { background-color:#262223; color:#444; }
::-moz-selection { background-color:#262223; color:#444; } */

/* Works on Firefox */
* { scrollbar-width: none; scrollbar-color: #065fd442 #065fd49e; }

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {  width: 1.5vw; }
*::-webkit-scrollbar-track { background: rgb(0 0 0 / 0%); }
*::-webkit-scrollbar-thumb { background-color: #065fd442; border-radius: 3vw; border: 2px solid #065fd49e; }

.button {
  padding: 15px 10px;
  background: transparent;
  border: 1px solid var(--main-font-color);
  border-radius: 20px;
  color: var(--main-font-color);
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.3s;
  letter-spacing: 1.2px;
}
.button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}

.link {
  display: inline-block;
  color: var(--main-font-color);
  padding: 5px;
  text-decoration: none;
  transition: all 0.5s;
}
.link:visited, .link:focus .link:hover, .link:active {
  color: var(--main-font-color);
  scale: 1.2;
  border-bottom: 3px solid green;
}
.link:hover, .link:active, .link:focus {
  color: var(--main-link-active-color);
  scale: 1.3;
  
}


.main__header h1 {
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 400;
  color: lawngreen;
}

.main__nav {
  /* margin-bottom: 12px; */
  margin: 10px;
  border-bottom: 1px solid var(--main-border-color);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 10px;
}

.main__nav .link {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-size: 13px;
  border-bottom: 2px solid transparent;
  padding-bottom: 11px;
  align-content: center;
}
.main__nav .link.is-active {
  color: var(--main-link-active-color);
  border-bottom: 3px solid green;
}
/* .main__nav .link:nth-of-type(2), .main__nav .link:nth-of-type(3), .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
  display: none;
}
.main__nav {  display: none;} */

.main__playlists h2 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-border-color);
  margin-right: 10px;
    color: var(--main-link-active-color);
  border-bottom: 3px solid green;
}



.music__list {
    display: flex;
    grid-gap: 1rem;
    padding: 0;
    margin: 0;
    max-height: calc(100vh - 260px);
    overflow-y: auto;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.music__list-item {
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    transition: opacity 1.0s ease-in;
    display: flex;
    width: 40vw;
    height: calc(40vw * 0.75);
    padding-top: 14px;
    position: relative;
    cursor: pointer;
    background-image: url(https://raw.githubusercontent.com/RichardBuet/demjs/main/Spotiday-back-electric-guitar.webp);
    align-items: flex-end;
    justify-content: center;
}


.music__list-item:hover {
    opacity: 1 !important;
    transition: opacity 0.3s ease-in;
    color: #05ff1f;
    border-bottom: solid;
}
  
.plSel, .plSel:hover {
    color: #05ff1f;
    border-bottom: double;
    cursor: default;
    opacity: 1 !important;
  }

.activity {
  grid-area: social;
  display: none;
  background-color: var(--activity-bg-color);
  padding-left: 20px;
}
.activity h2 {
  margin: 30px 0;
}


.footer {
    position: fixed;
    display: grid;
    height: var(--footer-height);
    grid-template-columns: 50vw 1fr 12vw;
    bottom: 8px;
    background: var(--main-bg-color-dark);
    width: -webkit-fill-available;
    margin: 8px 8px 0px 8px;
}


.now-playing {
  display: flex;
}

.album__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 16%;
    margin: 10px;
}

.album__musician,
.album__title {
  display: block;
}

.album__info {
    padding: 12px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}


.album__title {
  color: var(--main-highlight-color);
  margin-bottom: 0px;
  font-size: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.album__musician {
 font-size: 1.0em; /* 13px;*/
   text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

i {
  color: var(--main-font-color);
  /*padding: 0 10px;*/
  padding: 0px 2vw;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
}
i:hover {
  color: var(--main-link-active-color);
}
i.fa-play-circle {
  font-size: 2.5em;
    padding: 0px 2vw;
}
i.fa-play-circle:hover {
  transform: scale(1.2);
}

.fa, .far, .fas {
    font-family: Font Awesome\ 5 Free;
    font-size: 1.5em;
}

.fa-braille:before {
    content: "\f2a1";
    font-size: 0.7em;
}

.player__controls {
  display: flex;
    align-items: center;
    justify-content: center;
}

.play-device-controls { align-self: center;}

.song__title, .plTitle {
  font-size: 18px;
  color: var(--main-highlight-color);
  margin: 0 auto;
  text-align: center;
  display: flex;
}


.song__creator { font-size: 12px;}  

.plNum, .plLength, .hide, .music-player {display: none; }

ul { list-style:none; }

.album__musician0{
  width: 20px;
  height: 20px;
  background: black;
  position: relative;
  border-radius: 50%;
}


@media  (min-aspect-ratio: 1){
.music__list-item {
    width: 25vw;
    height: calc(25vw * 0.75);
  }
}

@media  (min-aspect-ratio: 1.3){
.music__list-item {
    width: 20vw;
    height: calc(20vw * 0.75);
  }
}

@media  (min-aspect-ratio: 1.8){
.music__list-item {
    width: 20vw;
    height: calc(20vw * 0.75);
  }
}
